body {
	display: flex;
	overflow: scroll;
}

/*-----------------block__one----------*/
.block__element {
	display: flex;
	flex-wrap: wrap;
	width: 450px;
	height: 450px;
}

.block__main-one {
	display: flex;
	flex-wrap: wrap;
	height: 420px;
	width: 450px;
}

.block__mail {
	background-color: rgb(68, 68, 243);
	width: 440px;
	height: 200px;
}

.block__people {
	background-color: orange;
	width: 215px;
	height: 200px;
	margin-right: 10px;
}

.block__skype {
	background-color: rgba(41, 41, 255, 0.486);
	width: 215px;
	height: 200px;
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px 0px 10px 10px;
	color: white;
}

.block__night {
	height: 410px;
	width: 440px;
	background-color: rgb(5, 4, 3);
}

/*-----------------block__two----------*/
.block__main-two {
	display: flex;
	flex-wrap: wrap;
	height: 420px;
	width: 450px;
}

.block__in-block {
	display: flex;
	flex-wrap: wrap;
	width: 215px;
	height: 200px;
	margin-right: 10px;
}

.block__computer,
.block__bolt,
.block__fail-word,
.block__fail-paint {
	width: 102.5px;
	height: 95px;
}

.block__computer {
	background-color: aqua;
	margin-right: 10px;
}

.block__bolt {
	background-color: rgb(119, 9, 141);

}

.block__fail-word {
	background-color: rgb(109, 62, 0);
	margin-right: 10px;
	margin-top: 10px;
}

.block__fail-paint {
	background-color: rgb(15, 5, 112);
	margin-top: 10px;
}

.block__calendar {
	width: 215px;
	height: 200px;
	background-color: rgb(138, 218, 214);
}

.block__food {
	width: 215px;
	height: 200px;
	background-color: rgb(125, 196, 66);
	margin-right: 10px;
}

.block__foto {
	width: 215px;
	height: 200px;
	background-color: rgb(19, 182, 32);

}


.block__main-three {
	width: 450px;
	height: 420px;
}

.block__plan {
	width: 440px;
	height: 420px;
}

.block__finance {
	width: 440px;
	height: 200px;
	background-color: rgb(138, 218, 214);
}

.block__maps {
	width: 440px;
	height: 200px;
	background-color: rgb(12, 14, 177);
	margin-top: 10px;
}

/*-----------------block__three----------*/
.block__temperature {
	height: 410px;
	width: 440px;
	background-color: pink;
}

.block__infomation {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.block__browser {
	background-color: rgb(120, 120, 184);
	margin-bottom: 10px;
}

.block__thing {
	display: flex;
	flex-wrap: wrap;
	width: 225px;
	height: 200px;

}


.block__battery,
.block__headphones,
.block__play,
.block__fail {
	width: 102.5px;
	height: 95px;
}

.block__battery {
	background-color: rgb(173, 23, 141);
	margin-left: 10px;
	margin-right: 10px;

}

.block__headphones {
	background-color: rgb(226, 43, 186);


}

.block__play {
	background-color: rgb(219, 138, 202);
	margin: 10px 10px 0px 10px;
}

.block__fail {
	background-color: rgb(136, 6, 108);
	margin-top: 10px;
}


.block__question {
	background-color: rgba(236, 168, 41, 0.87);
}

.block__cloud {
	background-color: rgb(71, 71, 245);
}

/*-----------------block__four----------*/

.block__work-table {
	background-color: green;
	height: 410px;
	width: 440px;
	margin-left: 10px;
}

.block__notes {
	display: flex;
	flex-wrap: wrap;
	height: 410px;
	width: 450px;
}

.block__word {
	margin: 10px;
	background-color: rgb(143, 143, 43);
}

.block__wild {
	background-color: rgb(143, 46, 43);
	margin: 0px 10px 0px 10px;
}

.block__heard {
	background-color: rgb(127, 184, 36);
}

/*-----------------block__five----------*/

.block__plan-two {
	margin-left: 10px;
}

.block__color {
	background-color: rgb(211, 181, 181);
}


.block__color-two {
	background-color: rgb(194, 16, 149);
}

.block__book {
	background-color: aquamarine;
	margin: 0px 10px 0px 10px;
}

.block__botle {
	background-color: rgb(127, 204, 255);
}

.block__pen {
	background-color: rgb(185, 255, 127);
	margin-left: 10px;
}

.block__cream {
	background-color: rgb(229, 127, 255);
	margin-left: 10px;
}