body {
	display: flex;
	overflow: scroll;
}

.block__element {
	display: flex;
	flex-wrap: wrap;
	width: 450px;
	height: 450px;
}

.block__main-one {
	display: flex;
	flex-wrap: wrap;
	height: 420px;
	width: 450px;
}

.block__mail {
	background-color: rgb(68, 68, 243);
	width: 440px;
	height: 200px;
}

.block__people {
	background-color: orange;
	width: 215px;
	height: 200px;
	margin-right: 10px;
}

.block__skype {
	background-color: rgba(41, 41, 255, 0.486);
	width: 215px;
	height: 200px;
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px 0px 10px 10px;
	color: white;
}

.block__night {
	height: 410px;
	width: 440px;
	background-color: rgb(5, 4, 3);
}

.block__main-two {
	display: flex;
	flex-wrap: wrap;
	height: 420px;
	width: 450px;
}

.block__in-block {
	display: flex;
	flex-wrap: wrap;
	width: 215px;
	height: 200px;
	margin-right: 10px;
}

.block__computer,
.block__bolt,
.block__fail-word,
.block__fail-paint {
	width: 102.5px;
	height: 95px;
}

.block__computer {
	background-color: aqua;
	margin-right: 10px;
}

.block__bolt {
	background-color: rgb(119, 9, 141);

}

.block__fail-word {
	background-color: rgb(109, 62, 0);
	margin-right: 10px;
	margin-top: 10px;
}

.block__fail-paint {
	background-color: rgb(15, 5, 112);
	margin-top: 10px;
}

.block__calendar {
	width: 215px;
	height: 200px;
	background-color: rgb(138, 218, 214);
}

.block__food {
	width: 215px;
	height: 200px;
	background-color: rgb(125, 196, 66);
	margin-right: 10px;
}

.block__foto {
	width: 215px;
	height: 200px;
	background-color: rgb(19, 182, 32);

}


.block__main-three {
	width: 450px;
	height: 420px;
}

.block__plan {
	width: 440px;
	height: 420px;
}

.block__finance {
	width: 440px;
	height: 200px;
	background-color: rgb(138, 218, 214);
}

.block__maps {
	width: 440px;
	height: 200px;
	background-color: rgb(12, 14, 177);
	margin-top: 10px;
}

.block__temperature {
	height: 410px;
	width: 440px;
	background-color: pink;
}